% rebase('base.html')
<form method="POST" action="/dodaj_knjigo/">
    naslov: <input type="text" name="naslov" value="{{polja.get("naslov",'')}}">
    avtor: <input type="text" name="avtor" value="{{polja.get("avtor",'')}}">
    zvrst: <input type="text" name="zvrst" value="{{polja.get("zvrst",'')}}">
    izposojena_ali_kupljena: <input type="text" name="izposojena_ali_kupljena" value="{{polja.get("izposojena_ali_kupljena",'')}}">
    rok_vracila: <input type="text" name="rok_vracila" value="{{polja.get("rok_vracila",'')}}">
    <input type="submit" value="dodaj!">
    
    %if "naslov" in napake:
    <p>{{ napake["naslov"] }}</p>
    %elif "avtor" in napake:
    <p>{{ napake["avtor"] }}</p>
    %elif "zvrst" in napake:
    <p>{{ napake["zvrst"] }}</p>
    %elif "izposojena_ali_kupljena" in napake:
    <p>{{ napake["izposojena_ali_kupljena"] }}</p>
    %elif "rok_vracila" in napake:
    <p>{{ napake["rok_vracila"] }}</p>
    %end
</form>
