% rebase('base.html')
<form method="POST" action="/dodaj_knjigo/">

    <div class="field">
        <label class="label">Naslov</label>
        <input class="input" name="naslov" type="text" placeholder="Naslov knjige" value="{{polja.get("naslov",'')}}">
    </div>

    <div class="field">
        <label class="label">Avtor</label>
        <input class="input" name="avtor" type="text" placeholder="Avtor knjige" value="{{polja.get("avtor",'')}}">
    </div>

    <div class="field">
        <label class="label">Zvrst</label>
        <input class="input" name="zvrst" type="text" placeholder="Zvrst" value="{{polja.get("zvrst",'')}}">
    </div>

    <div class="field">
        <label class="label">Izposojena ali kupljena</label>
        <input class="input" name="izposojena_ali_kupljena" type="text" placeholder="Izposojena ali kupljena"
            value="{{polja.get("izposojena_ali_kupljena",'')}}">
    </div>

    <div class="field">
        <label class="label">Rok vračila</label>
        <input class="input" name="rok_vracila" type="text" placeholder="dd.mm.yyyy" value="{{polja.get("rok_vracila",'')}}">
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-info">Dodaj</button>
        </div>
        <div class="control">
            <a class="button is-info is-light" href="/">Prekliči</a>
        </div>
    </div>

</form>