% rebase('base.html')

%if stevilo_trenutnih != 0:
<div class="content is-normal">
    <h1>Trenute knjige:</h1>
    <p>To je seznam knjig, ki jih trenutno berete.Posamezno knjigo lahko iz seznama odstranite z ukazom
        <strong>'odstrani'</strong>, če pa ste katero prebrali, jo s klikom na <strong>'preberi'</strong> uvrstite v Vaš
        seznam prebranih knjig.
    </p>

    <ul>
        %for indeks, knjiga in enumerate(trenutne_knjige):
        <li>
            {{knjiga.naslov}}, {{knjiga.avtor}}, {{knjiga.zvrst}}, {{knjiga.izposojena_ali_kupljena}},
            {{knjiga.rok_vracila}}
            <div class="field is-grouped">
                <p class="control">
                <form method="POST" action="/odstrani_knjigo/">
                    <input type="hidden" name="indeks" value="{{indeks}}">
                    <button class="button is-info is-rounded">odstrani</button>
                </form>

                <form method="POST" action="/preberi_knjigo/">
                    <input type="hidden" name="indeks" value="{{indeks}}">
                    <button class="button is-info is-rounded">preberi</button>
                </form>
                </p>
            </div>
        </li>
        %end
    </ul>
</div>


<p>Skupno število knjig, ki jih berete: <strong>{{stevilo_trenutnih}}</strong></p>
</div>
%end

%if stevilo_trenutnih == 0:
<p>Trenutno ne berete <strong>nobene knjige</strong>. Začnite z branjem in si pomagajte s tem dnevnikom.</p>
%end

%if stevilo_cez_rok == 0:
<div class="notification is-primary">
    Brez skrbi, trenutno <strong>nimate</strong> knjig, za katere bi tekla zamudnina.
</div>
%end

%if stevilo_cez_rok != 0:
<div class="notification is-danger">
    Pozor, imate knjige, katerim je potekel rok izposoje. Prosimo, da jih vrnete v najkrajšem možnem času. Število
    preteklih knjig: <strong>{{stevilo_cez_rok}}</strong>
</div>
%end

<div class="level-item">
    <a class="button is-info is-rounded" href="/dodaj_knjigo/">dodaj knjigo</a>
</div>

%if stevilo_leposlovnih != 0 and stevilo_neleposlovnih != 0:
<div class="content is-normal">
    <h1>Prebrane knjige:</h1>
    <ul>
        %for knjiga in prebrane_knjige:
        <li>
            {{knjiga.naslov}}, {{knjiga.avtor}}, {{knjiga.zvrst}}
        </li>
        %end
    </ul>
    <p>Skupno ste prebrali toliko knjig: <strong>{{stevilo_prebranih}}</strong>. Od tega toliko leposlovnih:
        {{stevilo_leposlovnih}} in toliko neleposlovnih: {{stevilo_neleposlovnih}}.</p>
</div>
%end

%if stevilo_leposlovnih == 0 and stevilo_neleposlovnih != 0:
<div class="content is-normal">
    <h1>Prebrane knjige:</h1>
    <ul>
        %for knjiga in prebrane_knjige:
        <li>
            {{knjiga.naslov}}, {{knjiga.avtor}}, {{knjiga.zvrst}}
        </li>
        %end
    </ul>
    <p>Skupno ste prebrali toliko knjig: <strong>{{stevilo_prebranih}}</strong>. Zaenkrat niste prebrali še nobene
        leposlovne knjige, saj ste prebrali le neleposlovne.</p>
</div>
%end

%if stevilo_leposlovnih != 0 and stevilo_neleposlovnih == 0:
<div class="content is-normal">
    <h1>Prebrane knjige:</h1>
    <ul>
        %for knjiga in prebrane_knjige:
        <li>
            {{knjiga.naslov}}, {{knjiga.avtor}}, {{knjiga.zvrst}}
        </li>
        %end
    </ul>
    <p>Skupno ste prebrali toliko knjig: <strong>{{stevilo_prebranih}}</strong>. Zaenkrat niste prebrali še nobene
        neleposlovne knjige, saj ste prebrali le leposlovne.</p>
</div>
%end

%if stevilo_leposlovnih == 0 and stevilo_neleposlovnih == 0:
<p>Zaenkrat niste prebrali še <strong>nobene knjige</strong>. Nadaljujte z branjem in si pomagajte s tem dnevnikom.</p>
%end